table,tr,th,td{
    border: solid black;
    margin: 50px;
}
th{
    width: 60px;
    height: 60px;
}

table{
    margin-left: 350px;
}
.bf{
    height: 20px;
    width: 20px;
    background-color: rgba(146, 71, 21, 0.911);
}